<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>
  <link rel="stylesheet" type="text/css" href="/Css/loading.css">
  <script>
    function hideLoading() {
      document.getElementById('loading').style.opacity = '0';
      document.getElementById('loading').style.zIndex = '-1';
    }
  </script>
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!--File Pond CDN-->
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">

  <!-- add before </body> -->
  <style>
    body {
      background-color: #a7c5eb;
    }

    .card-img-top {
      margin: 15px 2px;
      height: 270px;
      border: .1px solid #fff;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.9);
      transform: rotate(0deg);
      z-index: 9999;
    }

    .main {
      text-align: center;
      padding: 2rem;
    }

    .brand {

      font-size: 32px;
      color: #ff577f;
      font-family: 'Redressed';
    }

    .navbar-toggler {
      color: #fff !important;
      border-color: transparent !important;

    }

    .navbar {
      text-align: center;
    }

    .nav-item a {
      font-size: 16px;
    }

    .brand:hover {
      color: #ff577f;
      text-decoration: none;
    }
  </style>

</head>

<body onload="hideLoading();">
  <div id="loading">
    <div class="spinner-box">
      <div class="pulse-container">
        <div class="pulse-bubble pulse-bubble-1"></div>
        <div class="pulse-bubble pulse-bubble-2"></div>
        <div class="pulse-bubble pulse-bubble-3"></div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="brand" href="/">Random</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars tooltips"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto mr-auto">
        <!--links-->
        <li class="nav-item"><a class="nav-link active" href="/"><i class="fas fa-home"></i>Home</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/digitalpainting">
            Digital Painting
          </a>

        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/pencilsketch">
            Pencil Sketch
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/acrylicpainting">
            Acrylic Painting
          </a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/oilpainting">
            Oil Painting
          </a>

        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/tribalart">
            Tribal Art
          </a>

        </li>

      </ul>
  </nav>

  <section class="main">

    <div class="row ">
      <% if(movie) { %>

      <% movie.forEach(m => { %>

      <div class="col-lg-3 col-md-6 ">


        <a href="/movie/<%=m._id%>" target="_blank">

          <img class="card-img-top" src="<%= m.coverImagePath %>" alt="">


        </a>

      </div>

      <% }) %>
      <% } %>
    </div>

  </section>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>

</html>
