<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Gallery | Pencil Sketch </title>
  <link rel="icon" href="/images/favicon.ico">
  <script>
    function hideLoading() {
  document.getElementById('loading').style.opacity = '0';
      document.getElementById('loading').style.zIndex = '-1';
}
  </script>
  <!-- Style.css-->
  <link rel="stylesheet" href="fontawesome-all.min.css">

  <!-- Font fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">


  <!-- bootstrap and jQuary-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/Css/pills.css">
  <!-- JS, Popper.js, and jQuery -->
  <style>
    .card-img-top {
  margin: 15px 2px;
  height: 270px;
  border: 2px solid #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.9);
  transform: rotate(0deg);
  z-index: 9999;
}

body {
  background-color: #c1a1d3;
  display: inline;
}

.centered {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Ubuntu';
  font-size: 32px;
  text-shadow: 2px 2px #31312d;
}

iframe {
  margin: 30px 0 0 30px;
  width: 30%;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media (max-width:995px) {
  iframe {
    margin: 30px 0 0 9px;
    width: 48%;
  }
}

@media (max-width:500px) {
  iframe {
    margin: 30px 0px 0 0px;
    width: 100%;
  }
}
  </style>
</head>

<body onload="hideLoading();">

  <div id="loading">
    <div class="spinner-box">
      <div class="pulse-container">
        <div class="pulse-bubble pulse-bubble-1"></div>
        <div class="pulse-bubble pulse-bubble-2"></div>
        <div class="pulse-bubble pulse-bubble-3"></div>
      </div>
    </div>
  </div>
  <div class="centered">Pencil Sketch</div>

  <div class="row container">
    <div class="col-lg-5 col-md-4 ad"></div>
    <div class="col-lg-5 col-md-7 col-sm-12" id="accordionExample">

      <ul class="nav nav-pills mb-3 " id="pills-tab" role="tablist">

        <li class="nav-item" role="presentation">
          <a class="nav-link inactive active " id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-profile" aria-selected="false">Portrait</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link inactive" id="pills-judiciary-tab" data-toggle="pill" href="#pills-judiciary" role="tab" aria-controls="pills-contact" aria-selected="false">Abstract</a>
        </li>

      </ul>



    </div>
    <div class="col-lg-2 col-md-1"></div>
  </div>
  <div class="tab-content" id="pills-tabContent">

    <div class="tab-pane active" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
      <div class="row ">
        <% if(movie) {
  %>

        <% landscape.forEach(m => { %>

        <div class="col-lg-3 col-md-6 ">


          <a href="/movie/<%=m._id%>" target="_blank">

            <img class="card-img-top" src="<%= m.coverImagePath %>" alt="">

          </a>

        </div>

        <%
}) %>
        <% } %>
      </div>
    </div>

    <div class="tab-pane" id="pills-judiciary" role="tabpanel" aria-labelledby="pills-judiciary-tab">
      <div class="row ">
        <% if(movie) {
  %>

        <% portrait.forEach(m => { %>

        <div class="col-lg-3 col-md-6 ">


          <a href="/movie/<%=m._id%>" target="_blank">

            <img class="card-img-top" src="<%= m.coverImagePath %>" alt="">

          </a>

        </div>

        <%
}) %>
        <% } %>
      </div>

    </div>


  </div>


</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

</html>
