body {
  background-color: #000;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 14px;
  font-weight: 400;
}

.modal-header {
  border-bottom: 0px;
}

.form-group {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.logo {
  color: #ff4c68;
}

.centered {
  text-align: center;
}

.login {
  z-index: 99999;
  margin-top: 120px
}

@media (max-width:500px) {
  .form-group {
    margin-top: 0rem;
    margin-bottom: .5rem;
  }

  .login {
    z-index: 99999;
    margin-top: 120px
  }
}
